{% load static %}
<header class="cabecalho">
    <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
    <div class="cabecalho__busca">
        <div class="busca__fundo">
            <form action="{% url 'search' %}" method="get">
                <input class="busca__input" type="text" name="query" placeholder="O que você procura?">
                <button type="submit" class="busca__botao">
                    <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                </button>
            </form>
        </div>
    </div>
    <div class="cabecalho__acoes">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="cabecalho__link">Sair</a>
        {% else %}
            <a onclick="abrirModal('login')" class="cabecalho__link" hx-get="{% url 'auth' %}?type=login" hx-target="#modal_content" hx-trigger="click" hx-swap="innerHTML">Login</a>
            <a onclick="abrirModal('signup')" class="cabecalho__link" hx-get="{% url 'auth' %}?type=signup" hx-target="#modal_content" hx-trigger="click" hx-swap="innerHTML">Registrar</a>
        {% endif %}
    </div>
</header>